@using System.Net.Http
@using System.Net.Http.Json
@using BlazorClient.Models
@inject HttpClient Http

@if (employees == null)
{
    <p>Людей не найдено</p>
}
else
{
    <ul>
        @{
            for (var i = 0; i < employees.Lists.Count; i++)
            {
               <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@employees.Lists[i].Name</li>
                        <li class="list-group-item">@employees.Lists[i].Surname</li>
                        <li class="list-group-item">@employees.Lists[i].Patronymic</li>
                    </ul>
               </div>
            }
        }
    </ul>
}

@code {
    public EmployeeVm? employees { get; set; }

    protected override async Task OnInitializedAsync() => 
        employees = await Http.GetFromJsonAsync<EmployeeVm>("api/Employee/GetAll");

}