@using BlazorClient.Services
@using Domain.Entities
@foreach(var item in Employees)
{
    <p>item.Name</p>
    <p>item.Surname</p>
    <p>item.Patronymic</p>
}

<h3>Employee</h3>

@code {
        [Inject]
        public IEmployeeService employeeService { get; set; }
        public IEnumerable<Employee> Employees { get; set;}

        protected override async Task OnInitializedAsync()
        {
            Employees = (await employeeService.GetEmployees()).ToList();
        }
}
